<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<div class="container py-4">
    <div class="d-flex align-items-center">
        <i class="fas fa-user-plus fs-2 mx-2 text-success"></i>
        
        <h1>Edit Contact</h1>
    </div>
    <form action="/edit/<%=contact._id%>" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Edit Name</label>
            <input type="text" value="<%=contact.name%>" class="form-control" name="name" required >
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Edit Email</label>
            <input type="text" value="<%=contact.email%>" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Edit Phone</label>
            <input type="text" value="<%=contact.phone%>" class="form-control" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="brithday" class="form-label">Edit Brithday</label>
            <input type="text" value="<%=contact.brithday%>" class="form-control" name="brithday" required>
        </div>
        
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
<%-include('./partials/footer')%>